Primero, nos conectamos a la BD y cargamos el DS:

In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (9.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (4.13.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
from sqlalchemy import create_engine
import os

In [6]:
usuario = "franco"
contraseña = "Proyectofinal2025!%"
host = "34.135.248.251"
puerto = "3306"
base_de_datos = "pf-g2-daft13"

In [7]:
# Crear conexión SQLAlchemy
engine = create_engine(f"mysql+mysqlconnector://{usuario}:{contraseña}@{host}:{puerto}/{base_de_datos}")

Importo las librerias necesarias

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Aca Inicia la limpieza de PurchasePricesDec2017

Cargo la primer tabla:

In [9]:
df1 = pd.read_sql_table("PurchasePricesDec2017", con=engine)

In [10]:
df1.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,0,Description,0.00,Size,0,0,0.00,0,"VendorName""\r\n58,""Gekkeikan Black & Gold Sake",2025-05-27 18:54:32
1,61,Margaritaville Silver,13.99,750mL,750,1,10.60,8004,"SAZERAC CO INC ""\r\n122,""DeKuyper ...",2025-05-27 18:54:32
2,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,"BROWN-FORMAN CORP ""\r\n63,""Herradura ...",2025-05-27 18:54:32
3,68,Luxardo Triplum Triple Sec,24.99,750mL,750,1,18.93,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n97,""Smirnoff P...",2025-05-27 18:54:32
4,70,Luxardo Amaretto di Saschira,18.99,750mL,750,1,13.96,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n3535,""Ricura C...",2025-05-27 18:54:32

In [11]:
np.shape(df1)

(6131, 10)

In [12]:
#Validamos los datos que tenemos en los campos
print(df1.columns)

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName', 'fecha_actualizacion'],
      dtype='object')

In [13]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6131 entries, 0 to 6130
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                6131 non-null   int64
 1   Description          6131 non-null   object
 2   Price                6131 non-null   float64
 3   Size                 6131 non-null   object
 4   Volume               6131 non-null   int64
 5   Classification       6131 non-null   int64
 6   PurchasePrice        6131 non-null   float64
 7   VendorNumber         6131 non-null   int64
 8   VendorName           6131 non-null   object
 9   fecha_actualizacion  6131 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 479.1+ KB
None

En principio no hay nulos, chequeamos

In [14]:
df1.isnull().sum()

Brand                  0
Description            0
Price                  0
Size                   0
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

In [15]:
df1.isna().sum()

Brand                  0
Description            0
Price                  0
Size                   0
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

Vemos que no hay nulos ni 0, pero podria haber espacios vacios con espacios, reemplazamos estor valores:

In [16]:
df1 = df1.replace(r'^\s*$', np.nan, regex=True)

Eliminamos la primera fila, que contiene los titulos

In [17]:
df1 = df1.drop(index=0).reset_index(drop=True)

In [18]:
df1.isna().sum()

Brand                  0
Description            1
Price                  0
Size                   1
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

In [19]:
df1.isnull().sum()

Brand                  0
Description            1
Price                  0
Size                   1
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

Encontramos valores nulos y na, buscamos cual es antes de tomar una decisión:

In [20]:
df1.loc[df1['Description'].isna()]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
1186,4202,NaN,0.0,NaN,0,1,11.19,480,"BACARDI USA INC ""\r\n17989,""Porta V...",2025-05-27 18:54:32

Observamos que no tenemos mucha informacion de esta, la borramos:

In [21]:
df1 = df1.dropna()

In [22]:
np.shape(df1)

(6129, 10)

In [23]:
df1.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,61,Margaritaville Silver,13.99,750mL,750,1,10.60,8004,"SAZERAC CO INC ""\r\n122,""DeKuyper ...",2025-05-27 18:54:32
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,"BROWN-FORMAN CORP ""\r\n63,""Herradura ...",2025-05-27 18:54:32
2,68,Luxardo Triplum Triple Sec,24.99,750mL,750,1,18.93,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n97,""Smirnoff P...",2025-05-27 18:54:32
3,70,Luxardo Amaretto di Saschira,18.99,750mL,750,1,13.96,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n3535,""Ricura C...",2025-05-27 18:54:32
4,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,"ULTRA BEVERAGE COMPANY LLP ""\r\n75,""Three Oliv...",2025-05-27 18:54:32

In [24]:
print(df1['VendorName'].unique())

['SAZERAC CO INC             "\r\n122,"DeKuyper Mixed Berry Medley'
 'BROWN-FORMAN CORP          "\r\n63,"Herradura Reposado Tequila'
 'ULTRA BEVERAGE COMPANY LLP "\r\n97,"Smirnoff Passion Fruit Vodka' ...
 'MARTIGNETTI COMPANIES"\r\n5837,"Leroux Cherry Brandy'
 'IRA GOLDMAN AND WILLIAMS, LLP          "\r\n21835,"Ch St Jean Bijou Chard'
 'ULTRA BEVERAGE COMPANY LLP "\r\n5992,"Kaikouzu Potato Shochu']

In [25]:
df1['VendorName'] = df1['VendorName'].astype(str).str.extract(r'^([^\r\n]*)')[0].str.strip('"')

In [26]:
df1.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,61,Margaritaville Silver,13.99,750mL,750,1,10.60,8004,SAZERAC CO INC,2025-05-27 18:54:32
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP,2025-05-27 18:54:32
2,68,Luxardo Triplum Triple Sec,24.99,750mL,750,1,18.93,9165,ULTRA BEVERAGE COMPANY LLP,2025-05-27 18:54:32
3,70,Luxardo Amaretto di Saschira,18.99,750mL,750,1,13.96,9165,ULTRA BEVERAGE COMPANY LLP,2025-05-27 18:54:32
4,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP,2025-05-27 18:54:32

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6129 entries, 0 to 6129
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                6129 non-null   int64
 1   Description          6129 non-null   object
 2   Price                6129 non-null   float64
 3   Size                 6129 non-null   object
 4   Volume               6129 non-null   int64
 5   Classification       6129 non-null   int64
 6   PurchasePrice        6129 non-null   float64
 7   VendorNumber         6129 non-null   int64
 8   VendorName           6129 non-null   object
 9   fecha_actualizacion  6129 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 526.7+ KB

In [28]:
df1[(df1['Volume'].isnull()) | (df1['Volume'] == 0)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
1960,8992,Group 92,1.99,Unknown,0,1,1.43,1703,ALISA CARR BEVERAGES,2025-05-27 18:54:32
1985,9908,Tito's Copper Mug 2 Pack,21.01,Unknown,0,1,16.15,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32
6127,90590,Overture Champagne 2Glass Pk,19.95,Unknown,0,2,13.12,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32

In [39]:
df1[df1['Description'].str.contains('Overture', case=False, na=False)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
6127,90590,Overture Champagne 2Glass Pk,19.95,Unknown,0,2,13.12,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32

In [42]:
df1[(df1['Volume'].isnull()) | (df1['Volume'] == 0)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
1960,8992,Group 92,1.99,Unknown,0,1,1.43,1703,ALISA CARR BEVERAGES,2025-05-27 18:54:32
1985,9908,Tito's Copper Mug 2 Pack,21.01,Unknown,0,1,16.15,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32
6127,90590,Overture Champagne 2Glass Pk,19.95,Unknown,0,2,13.12,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32

Como estos 3 datos estan faltantes en size y volume, elimino las filas

In [58]:
df1 = df1.drop(df1[df1['Volume'] == 0].index)

In [59]:
np.shape(df1)

(6126, 10)

In [61]:
df1[(df1['Price'].isnull()) | (df1['Price'] == 0)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
526,2166,The Macallan Double Cask 12,0.0,750mL,750,1,0.0,2561,EDRINGTON AMERICAS,2025-05-27 18:54:32

Elimino las filas con precio igual a 0

In [62]:
df1 = df1.drop(df1[df1['Price'] == 0].index)

In [65]:
print(df1['Volume'].info())
print(df1['Volume'].min())
print(df1['Volume'].max())

<class 'pandas.core.series.Series'>
Index: 6125 entries, 0 to 6129
Series name: Volume
Non-Null Count  Dtype
--------------  -----
6125 non-null   int64
dtypes: int64(1)
memory usage: 95.7 KB
None
50
18000

## Aca finaliza la limpieza de PurchasePricesDec2017
## Aca inicia la limpieza de PurchaseFINAL12312016

Cargo la segunda tabla:

In [52]:
df2 = pd.read_sql_table("PurchasesFINAL12312016", con=engine)

In [66]:
df2.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
0,InventoryId,0,0,Description,Size,0,VendorName,0,NaT,NaT,NaT,NaT,0.00,0,0.00,0,2025-05-27 18:54:37
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1,2025-05-27 18:54:37
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1,2025-05-27 18:54:37
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1,2025-05-27 18:54:37
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1,2025-05-27 18:54:37

In [57]:
df2[df2['Description'].str.contains('Overture', case=False, na=False)]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, fecha_actualizacion]
Index: []