Primero, nos conectamos a la BD y cargamos el DS:

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (9.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\franco\appdata\local\programs\python\python313\lib\site-packages (from SQLAlchemy) (4.13.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
from sqlalchemy import create_engine
import os

In [2]:
usuario = "franco"
contraseña = "Proyectofinal2025!%"
host = "34.135.248.251"
puerto = "3306"
base_de_datos = "pf-g2-daft13"

In [4]:
# Crear conexión SQLAlchemy
engine = create_engine(f"mysql+mysqlconnector://{usuario}:{contraseña}@{host}:{puerto}/{base_de_datos}")

Importo las librerias necesarias

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Aca Inicia la limpieza de PurchasePricesDec2017

Cargo la primer tabla:

In [7]:
df1 = pd.read_sql_table("PurchasePricesDec2017", con=engine)

In [8]:
df1.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,0,Description,0.00,Size,0,0,0.00,0,"VendorName""\r\n58,""Gekkeikan Black & Gold Sake",2025-05-27 18:54:32
1,1,Frizze Blue 1000mL,11.50,1000mL,1000,0,11.50,11500,Distribuidora Sur S.A.,2025-05-30 15:14:13
2,2,Cynar 750mL,13.99,750mL,750,0,13.99,11501,Importadora Global Ltda.,2025-05-30 15:14:13
3,4,Frizze Blue 1000mL,11.50,1000mL,1000,0,11.50,11500,Distribuidora Sur S.A.,2025-05-30 15:19:54
4,5,Cynar 750mL,13.99,750mL,750,0,13.99,11501,Importadora Global Ltda.,2025-05-30 15:19:54

In [9]:
np.shape(df1)

(6135, 10)

In [10]:
#Validamos los datos que tenemos en los campos
print(df1.columns)

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName', 'fecha_actualizacion'],
      dtype='object')

In [11]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6135 entries, 0 to 6134
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                6135 non-null   int64
 1   Description          6135 non-null   object
 2   Price                6135 non-null   float64
 3   Size                 6135 non-null   object
 4   Volume               6135 non-null   int64
 5   Classification       6135 non-null   int64
 6   PurchasePrice        6135 non-null   float64
 7   VendorNumber         6135 non-null   int64
 8   VendorName           6135 non-null   object
 9   fecha_actualizacion  6135 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 479.4+ KB
None

En principio no hay nulos, chequeamos

In [12]:
df1.isnull().sum()

Brand                  0
Description            0
Price                  0
Size                   0
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

In [13]:
df1.isna().sum()

Brand                  0
Description            0
Price                  0
Size                   0
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

Vemos que no hay nulos ni 0, pero podria haber espacios vacios con espacios, reemplazamos estor valores:

In [14]:
df1 = df1.replace(r'^\s*$', np.nan, regex=True)

Eliminamos la primera fila, que contiene los titulos

In [15]:
df1 = df1.drop(index=0).reset_index(drop=True)

In [16]:
df1.isna().sum()

Brand                  0
Description            1
Price                  0
Size                   1
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

In [17]:
df1.isnull().sum()

Brand                  0
Description            1
Price                  0
Size                   1
Volume                 0
Classification         0
PurchasePrice          0
VendorNumber           0
VendorName             0
fecha_actualizacion    0
dtype: int64

Encontramos valores nulos y na, buscamos cual es antes de tomar una decisión:

In [18]:
df1.loc[df1['Description'].isna()]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
1190,4202,NaN,0.0,NaN,0,1,11.19,480,"BACARDI USA INC ""\r\n17989,""Porta V...",2025-05-27 18:54:32

Observamos que no tenemos mucha informacion de esta, la borramos:

In [19]:
df1 = df1.dropna()

In [20]:
np.shape(df1)

(6133, 10)

In [21]:
df1.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,1,Frizze Blue 1000mL,11.50,1000mL,1000,0,11.50,11500,Distribuidora Sur S.A.,2025-05-30 15:14:13
1,2,Cynar 750mL,13.99,750mL,750,0,13.99,11501,Importadora Global Ltda.,2025-05-30 15:14:13
2,4,Frizze Blue 1000mL,11.50,1000mL,1000,0,11.50,11500,Distribuidora Sur S.A.,2025-05-30 15:19:54
3,5,Cynar 750mL,13.99,750mL,750,0,13.99,11501,Importadora Global Ltda.,2025-05-30 15:19:54
4,61,Margaritaville Silver,13.99,750mL,750,1,10.60,8004,"SAZERAC CO INC ""\r\n122,""DeKuyper ...",2025-05-27 18:54:32

In [22]:
print(df1['VendorName'].unique())

['Distribuidora Sur S.A.' 'Importadora Global Ltda.'
 'SAZERAC CO INC             "\r\n122,"DeKuyper Mixed Berry Medley' ...
 'MARTIGNETTI COMPANIES"\r\n5837,"Leroux Cherry Brandy'
 'IRA GOLDMAN AND WILLIAMS, LLP          "\r\n21835,"Ch St Jean Bijou Chard'
 'ULTRA BEVERAGE COMPANY LLP "\r\n5992,"Kaikouzu Potato Shochu']

In [23]:
df1['VendorName'] = df1['VendorName'].astype(str).str.extract(r'^([^\r\n]*)')[0].str.strip('"')

In [24]:
df1.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
0,1,Frizze Blue 1000mL,11.50,1000mL,1000,0,11.50,11500,Distribuidora Sur S.A.,2025-05-30 15:14:13
1,2,Cynar 750mL,13.99,750mL,750,0,13.99,11501,Importadora Global Ltda.,2025-05-30 15:14:13
2,4,Frizze Blue 1000mL,11.50,1000mL,1000,0,11.50,11500,Distribuidora Sur S.A.,2025-05-30 15:19:54
3,5,Cynar 750mL,13.99,750mL,750,0,13.99,11501,Importadora Global Ltda.,2025-05-30 15:19:54
4,61,Margaritaville Silver,13.99,750mL,750,1,10.60,8004,SAZERAC CO INC,2025-05-27 18:54:32

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6133 entries, 0 to 6133
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                6133 non-null   int64
 1   Description          6133 non-null   object
 2   Price                6133 non-null   float64
 3   Size                 6133 non-null   object
 4   Volume               6133 non-null   int64
 5   Classification       6133 non-null   int64
 6   PurchasePrice        6133 non-null   float64
 7   VendorNumber         6133 non-null   int64
 8   VendorName           6133 non-null   object
 9   fecha_actualizacion  6133 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 527.1+ KB

In [26]:
df1[(df1['Volume'].isnull()) | (df1['Volume'] == 0)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
1964,8992,Group 92,1.99,Unknown,0,1,1.43,1703,ALISA CARR BEVERAGES,2025-05-27 18:54:32
1989,9908,Tito's Copper Mug 2 Pack,21.01,Unknown,0,1,16.15,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32
6131,90590,Overture Champagne 2Glass Pk,19.95,Unknown,0,2,13.12,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32

In [27]:
df1[df1['Description'].str.contains('Overture', case=False, na=False)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
6131,90590,Overture Champagne 2Glass Pk,19.95,Unknown,0,2,13.12,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32

In [28]:
df1[(df1['Volume'].isnull()) | (df1['Volume'] == 0)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
1964,8992,Group 92,1.99,Unknown,0,1,1.43,1703,ALISA CARR BEVERAGES,2025-05-27 18:54:32
1989,9908,Tito's Copper Mug 2 Pack,21.01,Unknown,0,1,16.15,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32
6131,90590,Overture Champagne 2Glass Pk,19.95,Unknown,0,2,13.12,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:32

Como estos 3 datos estan faltantes en size y volume, elimino las filas

In [29]:
df1 = df1.drop(df1[df1['Volume'] == 0].index)

In [30]:
np.shape(df1)

(6130, 10)

In [31]:
df1[(df1['Price'].isnull()) | (df1['Price'] == 0)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName,fecha_actualizacion
530,2166,The Macallan Double Cask 12,0.0,750mL,750,1,0.0,2561,EDRINGTON AMERICAS,2025-05-27 18:54:32

Elimino las filas con precio igual a 0

In [32]:
df1 = df1.drop(df1[df1['Price'] == 0].index)

In [33]:
print(df1['Volume'].info())
print(df1['Volume'].min())
print(df1['Volume'].max())

<class 'pandas.core.series.Series'>
Index: 6129 entries, 0 to 6133
Series name: Volume
Non-Null Count  Dtype
--------------  -----
6129 non-null   int64
dtypes: int64(1)
memory usage: 95.8 KB
None
50
18000

In [34]:
# Seleccionar columnas de tipo string / objeto
text_cols = df1.select_dtypes(include='object').columns

# Filtro la cantidad de datos que tienen valores null o vacios
df1[text_cols].isnull().sum() + (df1[text_cols] == "").sum()

Description    0
Size           0
VendorName     0
dtype: int64

In [35]:
def remove_whitespace(df1,*columns):
    for column in columns:
        df1[column]=df1[column].str.strip()
    return df1

df1=remove_whitespace(df1,'Description','VendorName')

In [36]:
#Ya hicimos toda la limpieza, guardamos
df1.to_csv('PurchasePricesDec2017_Modificado.csv', index=False)

## Aca finaliza la limpieza de PurchasePricesDec2017
## Aca inicia la limpieza de PurchaseFINAL12312016

Cargo la segunda tabla:

In [136]:
df2 = pd.read_sql_table("PurchasesFINAL12312016", con=engine)

In [137]:
df2.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
0,InventoryId,0,0,Description,Size,0,VendorName,0,NaT,NaT,NaT,NaT,0.00,0,0.00,0,2025-05-27 18:54:37
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1,2025-05-27 18:54:37
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1,2025-05-27 18:54:37
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1,2025-05-27 18:54:37
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1,2025-05-27 18:54:37

In [138]:
np.shape(df2)

(2372474, 17)

Elimino la primer fila que tiene los encabezados

In [139]:
df2 = df2.drop(index=0).reset_index(drop=True)

In [140]:
np.shape(df2)

(2372473, 17)

In [141]:
print(df2.columns)

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification',
       'fecha_actualizacion'],
      dtype='object')

In [142]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372473 entries, 0 to 2372472
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   InventoryId          object
 1   Store                int64
 2   Brand                int64
 3   Description          object
 4   Size                 object
 5   VendorNumber         int64
 6   VendorName           object
 7   PONumber             int64
 8   PODate               datetime64[ns]
 9   ReceivingDate        datetime64[ns]
 10  InvoiceDate          datetime64[ns]
 11  PayDate              datetime64[ns]
 12  PurchasePrice        float64
 13  Quantity             int64
 14  Dollars              float64
 15  Classification       int64
 16  fecha_actualizacion  datetime64[ns]
dtypes: datetime64[ns](5), float64(2), int64(6), object(4)
memory usage: 307.7+ MB
None

In [143]:
#df2.isnull().sum()
df2.isna().sum()

InventoryId            0
Store                  0
Brand                  0
Description            0
Size                   0
VendorNumber           0
VendorName             0
PONumber               0
PODate                 0
ReceivingDate          0
InvoiceDate            0
PayDate                0
PurchasePrice          0
Quantity               0
Dollars                0
Classification         0
fecha_actualizacion    0
dtype: int64

En principio no hay datos faltantes

In [144]:
columnas_numericas = df2.select_dtypes(include='number').columns

for col in columnas_numericas:
    print(f"Estadísticas para {col}:")
    print(f"  Media: {df2[col].mean():.2f}")
    print(f"  Mediana: {df2[col].median():.2f}")
    print(f"  Desviación estándar: {df2[col].std():.2f}")
    print(f"  Mínimo: {df2[col].min():.2f}")
    print(f"  Máximo: {df2[col].max():.2f}")
    print("-" * 40)

Estadísticas para Store:
  Media: 44.65
  Mediana: 48.00
  Desviación estándar: 23.51
  Mínimo: 1.00
  Máximo: 81.00
----------------------------------------
Estadísticas para Brand:
  Media: 12418.64
  Mediana: 6523.00
  Desviación estándar: 12557.28
  Mínimo: 58.00
  Máximo: 90631.00
----------------------------------------
Estadísticas para VendorNumber:
  Media: 6886.44
  Mediana: 4425.00
  Desviación estándar: 8066.69
  Mínimo: 2.00
  Máximo: 201359.00
----------------------------------------
Estadísticas para PONumber:
  Media: 11040.94
  Mediana: 11103.00
  Desviación estándar: 1565.34
  Mínimo: 8106.00
  Máximo: 13661.00
----------------------------------------
Estadísticas para PurchasePrice:
  Media: 12.05
  Mediana: 9.22
  Desviación estándar: 17.95
  Mínimo: 0.00
  Máximo: 5681.81
----------------------------------------
Estadísticas para Quantity:
  Media: 14.16
  Mediana: 10.00
  Desviación estándar: 23.45
  Mínimo: 1.00
  Máximo: 3816.00
----------------------------------------
Estadísticas para Dollars:
  Media: 135.68
  Mediana: 83.93
  Desviación estándar: 281.66
  Mínimo: 0.00
  Máximo: 50175.70
----------------------------------------
Estadísticas para Classification:
  Media: 1.44
  Mediana: 1.00
  Desviación estándar: 0.50
  Mínimo: 1.00
  Máximo: 2.00
----------------------------------------

Vemos que PurchasePrice y Dollars tienen datos nulos, vemos cuantas filas tienen ese estado

In [145]:
df2[(df2['PurchasePrice'].isnull()) | (df2['PurchasePrice'] == 0)]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
1369008,59_CLAETHORPES_2166,59,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-10,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
1369017,38_GOULCREST_2166,38,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-11,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
1369030,34_PITMERDEN_2166,34,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-09,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
1369031,44_PORTHCRAWL_2166,44,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-08,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
1369032,56_BEGGAR'S HOLE_2166,56,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-09,2016-08-22,2016-10-01,0.0,12,0.0,1,2025-05-27 18:54:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2278895,39_EASTHALLOW_2166,39,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1,2025-05-27 18:54:37
2278908,38_GOULCREST_2166,38,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-20,2016-12-28,2017-02-03,0.0,10,0.0,1,2025-05-27 18:54:37
2278921,9_BLACKPOOL_2166,9,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1,2025-05-27 18:54:37
2278953,20_BREDWARDINE_2166,20,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1,2025-05-27 18:54:37
2278957,31_HORNSEY_2166,31,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1,2025-05-27 18:54:37

Vemos que hay para el producto "The Macallan Double Cask 12", no tiene precio de compra, me fijo si algun dato en la tabla tiene esta informacion para reemplazarla.

In [146]:
df2[
    (df2['Description'].str.contains('The Macallan Double', case=False, na=False)) &
    (df2['PurchasePrice'] > 0)
]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, fecha_actualizacion]
Index: []

No hay coincidencia de datos que pueda rellenar, por lo que procedo a borrar estas filas.

In [147]:
df2 = df2.drop(df2[df2['PurchasePrice'] == 0].index)

In [148]:
df2.loc[df2['Size'].isna()]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, fecha_actualizacion]
Index: []

In [149]:
# Seleccionar columnas de tipo string / objeto
text_cols = df2.select_dtypes(include='object').columns

# Filtro la cantidad de datos que tienen valores null o vacios
df2[text_cols].isnull().sum() + (df2[text_cols] == "").sum()

InventoryId    0
Description    0
Size           3
VendorName     0
dtype: int64

Observo que hay datos vacios en size, filtro estos datos

In [150]:
df2[(df2['Size'].isnull()) | (df2['Size'] == "")]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
1109667,34_PITMERDEN_3121,34,3121,Pinnacle Rainbow Sherbet,,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-04,2016-07-13,2016-08-16,6.93,7,48.51,1,2025-05-27 18:54:37
1112425,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-09,2016-07-13,2016-08-16,6.93,6,41.58,1,2025-05-27 18:54:37
1116301,39_EASTHALLOW_15365,39,15365,Alabaster 07 Tinta de Toro,,9552,M S WALKER INC,10972,2016-06-29,2016-07-07,2016-07-13,2016-08-21,91.83,1,91.83,2,2025-05-27 18:54:37

In [151]:
df2[
    (df2['Description'].str.contains('Skinnygirl Pina Colada', case=False, na=False)) &
    (df2['Size'].isnull()==False)
]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
26471,38_GOULCREST_5678,38,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,8241,2015-12-29,2016-01-06,2016-01-16,2016-02-15,6.93,29,200.97,1,2025-05-27 18:54:37
176513,49_GARIGILL_5678,49,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,8659,2016-01-27,2016-02-04,2016-02-14,2016-03-19,6.93,1,6.93,1,2025-05-27 18:54:37
214730,76_DONCASTER_5678,76,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,8800,2016-02-05,2016-02-12,2016-02-19,2016-04-01,6.93,17,117.81,1,2025-05-27 18:54:37
366400,66_EANVERNESS_5678,66,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9118,2016-02-28,2016-03-11,2016-03-19,2016-04-21,6.93,2,13.86,1,2025-05-27 18:54:37
366881,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9118,2016-02-28,2016-03-10,2016-03-19,2016-04-21,6.93,45,311.85,1,2025-05-27 18:54:37
367930,67_EANVERNESS_5678,67,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9118,2016-02-28,2016-03-08,2016-03-19,2016-04-21,6.93,17,117.81,1,2025-05-27 18:54:37
631594,66_EANVERNESS_5678,66,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9907,2016-04-22,2016-04-27,2016-05-04,2016-06-17,6.93,10,69.30,1,2025-05-27 18:54:37
760081,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,10132,2016-05-09,2016-05-19,2016-05-23,2016-07-09,6.93,2,13.86,1,2025-05-27 18:54:37
761873,69_MOUNTMEND_5678,69,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,10132,2016-05-09,2016-05-20,2016-05-23,2016-07-09,6.93,1,6.93,1,2025-05-27 18:54:37
1112425,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-09,2016-07-13,2016-08-16,6.93,6,41.58,1,2025-05-27 18:54:37

Vemos que hay datos para reemplazar los faltantes, entonces hago un reemplazo de estas.

In [152]:
df2['Size'] = df2['Size'].replace('', np.nan)

#Rellenamos NaN con el valor más frecuente (moda) por cada Description
df2['Size'] = df2['Size'].fillna(
    df2.groupby('Description')['Size'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
)

In [153]:
df2[(df2['Size'].isnull()) | (df2['Size'] == "")]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
1116301,39_EASTHALLOW_15365,39,15365,Alabaster 07 Tinta de Toro,NaN,9552,M S WALKER INC,10972,2016-06-29,2016-07-07,2016-07-13,2016-08-21,91.83,1,91.83,2,2025-05-27 18:54:37

In [ ]:
df1[
    (df1['Description'].str.contains('Alabaster 07', case=False, na=False)) &
    (df1['Size'].isnull()==False)
]

NameError: name 'df1' is not defined

Vemos que en otra df tenemos el dato faltante, entonces reemplazamos.

In [154]:
df2.loc[(df2['Size'].isnull()) | (df2['Size'] == ""), 'Size'] = '750mL'

In [155]:
df2[(df2['Size'].isnull()) | (df2['Size'] == "")]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, fecha_actualizacion]
Index: []

In [156]:
df2[df2['InventoryId'].str.contains('__', na=False)]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
983465,46__5255,46,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10695,2016-06-16,2016-06-20,2016-06-29,2016-08-12,9.35,3,28.05,1,2025-05-27 18:54:37
983473,46__5215,46,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,10695,2016-06-16,2016-06-20,2016-06-29,2016-08-12,9.41,5,47.05,1,2025-05-27 18:54:37
983509,46__3472,46,3472,Cazadores Blanco Tequila,750mL,480,BACARDI USA INC,10665,2016-06-14,2016-06-20,2016-07-04,2016-08-12,11.10,9,99.90,1,2025-05-27 18:54:37
983533,46__4075,46,4075,Bacardi Pineapple Fusion,1.75L,480,BACARDI USA INC,10665,2016-06-14,2016-06-20,2016-07-04,2016-08-12,15.87,3,47.61,1,2025-05-27 18:54:37
983558,46__4179,46,4179,Bacardi Dragon Berry Rum,1.75L,480,BACARDI USA INC,10665,2016-06-14,2016-06-20,2016-07-04,2016-08-12,15.14,8,121.12,1,2025-05-27 18:54:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1544208,81__23289,81,23289,Ch Mouton Rothschild 11 Paui,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,479.45,3,1438.35,2,2025-05-27 18:54:37
1544248,81__23325,81,23325,Ch Bellevue-Mondotte 11 Emil,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,136.36,3,409.08,2,2025-05-27 18:54:37
1544318,81__23286,81,23286,Ch Pape Clement Bl Gr Cru 11,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,132.44,2,264.88,2,2025-05-27 18:54:37
1544401,81__23324,81,23324,Ch Angelus 11 Brdx,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,189.18,3,567.54,2,2025-05-27 18:54:37
1549207,81__15971,81,15971,Revana Cab Svgn Napa Vly,750mL,9165,ULTRA BEVERAGE COMPANY LLP,11788,2016-08-23,2016-08-29,2016-09-10,2016-10-20,71.89,3,215.67,2,2025-05-27 18:54:37

In [157]:
def remove_whitespace(df2,*columns):
    for column in columns:
        df2[column]=df2[column].str.strip()
    return df2

df2=remove_whitespace(df2,'Description','VendorName')

In [158]:
def typecast_date(df2,*columns):
    for column in columns:
        df2[column]=pd.to_datetime(df2[column])
    return df2


df2=typecast_date(df2,'PODate','ReceivingDate','InvoiceDate','PayDate')

## Aca finaliza la limpieza de PurchaseFINAL12312016
## Aca inicia la limpieza de SalesFINAL12312016

In [31]:
df3 = pd.read_sql_table("SalesFINAL12312016", con=engine)

In [32]:
df3.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName,fecha_actualizacion
0,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-05,50.0,1,0.05,3960,"DIAGEO NORTH AMERICA INC ""\r\n""1_HARDERSFIEL...",2025-05-27 18:54:47
1,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-12,50.0,1,0.05,3960,"DIAGEO NORTH AMERICA INC ""\r\n""1_HARDERSFIEL...",2025-05-27 18:54:47
2,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-20,50.0,1,0.05,3960,"DIAGEO NORTH AMERICA INC ""\r\n""1_HARDERSFIEL...",2025-05-27 18:54:47
3,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-29,50.0,1,0.05,3960,"DIAGEO NORTH AMERICA INC ""\r\n""1_HARDERSFIEL...",2025-05-27 18:54:47
4,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-09-08,50.0,1,0.05,3960,"DIAGEO NORTH AMERICA INC ""\r\n""1_HARDERSFIEL...",2025-05-27 18:54:47

In [33]:
np.shape(df3)

(6412682, 15)

In [34]:
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6412682 entries, 0 to 6412681
Data columns (total 15 columns):
 #   Column               Dtype
---  ------               -----
 0   InventoryId          object
 1   Store                int64
 2   Brand                int64
 3   Description          object
 4   Size                 object
 5   SalesQuantity        int64
 6   SalesDollars         float64
 7   SalesPrice           float64
 8   SalesDate            datetime64[ns]
 9   Volume               float64
 10  Classification       int64
 11  ExciseTax            float64
 12  VendorNo             int64
 13  VendorName           object
 14  fecha_actualizacion  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(5), object(4)
memory usage: 733.9+ MB
None

Como en la df1, hay un error con la carga de vendorname, reemplazo los valores.

In [35]:
df3['VendorName'] = df3['VendorName'].astype(str).str.extract(r'^([^\r\n]*)')[0].str.strip('"')

Analizo las columnas con datos numericos

In [36]:
columnas_numericas2 = df3.select_dtypes(include='number').columns

for col in columnas_numericas2:
    print(f"Estadísticas para {col}:")
    print(f"  Media: {df3[col].mean():.2f}")
    print(f"  Mediana: {df3[col].median():.2f}")
    print(f"  Desviación estándar: {df3[col].std():.2f}")
    print(f"  Mínimo: {df3[col].min():.2f}")
    print(f"  Máximo: {df3[col].max():.2f}")
    print("-" * 40)

Estadísticas para Store:
  Media: 43.90
  Mediana: 47.00
  Desviación estándar: 23.54
  Mínimo: 0.00
  Máximo: 81.00
----------------------------------------
Estadísticas para Brand:
  Media: 12154.35
  Mediana: 6349.00
  Desviación estándar: 12368.17
  Mínimo: 0.00
  Máximo: 90631.00
----------------------------------------
Estadísticas para SalesQuantity:
  Media: 2.57
  Mediana: 1.00
  Desviación estándar: 4.57
  Mínimo: 0.00
  Máximo: 1176.00
----------------------------------------
Estadísticas para SalesDollars:
  Media: 35.27
  Mediana: 18.99
  Desviación estándar: 88.31
  Mínimo: 0.00
  Máximo: 22994.03
----------------------------------------
Estadísticas para SalesPrice:
  Media: 15.69
  Mediana: 12.99
  Desviación estándar: 15.26
  Mínimo: 0.00
  Máximo: 4999.99
----------------------------------------
Estadísticas para Volume:
  Media: 939.36
  Mediana: 750.00
  Desviación estándar: 699.23
  Mínimo: 0.00
  Máximo: 20000.00
----------------------------------------
Estadísticas para Classification:
  Media: 1.41
  Mediana: 1.00
  Desviación estándar: 0.49
  Mínimo: 0.00
  Máximo: 2.00
----------------------------------------
Estadísticas para ExciseTax:
  Media: 1.48
  Mediana: 0.75
  Desviación estándar: 4.74
  Mínimo: 0.00
  Máximo: 1034.51
----------------------------------------
Estadísticas para VendorNo:
  Media: 7125.15
  Mediana: 4692.00
  Desviación estándar: 8736.17
  Mínimo: 0.00
  Máximo: 201359.00
----------------------------------------

Encuentro datos faltantes en varias columnas. Primero analizo Store que tiene valores 0, no puede haber una venta que no tenga asignada una tienda.

In [37]:
df3.isnull().sum()

InventoryId            0
Store                  0
Brand                  0
Description            0
Size                   0
SalesQuantity          0
SalesDollars           0
SalesPrice             0
SalesDate              1
Volume                 0
Classification         0
ExciseTax              0
VendorNo               0
VendorName             0
fecha_actualizacion    0
dtype: int64

In [38]:
df3[(df3['Store'].isnull()) | (df3['Store'] == 0)]

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName,fecha_actualizacion
6412681,InventoryId,0,0,Description,Size,0,0.0,0.0,NaT,0.0,0,0.0,0,VendorName,2025-05-27 18:54:47

In [39]:
df3 = df3.drop(df3[(df3['Store'].isnull()) | (df3['Store'] == 0)].index)

In [40]:
columnas_numericas2 = df3.select_dtypes(include='number').columns

for col in columnas_numericas2:
    print(f"Estadísticas para {col}:")
    print(f"  Media: {df3[col].mean():.2f}")
    print(f"  Mediana: {df3[col].median():.2f}")
    print(f"  Desviación estándar: {df3[col].std():.2f}")
    print(f"  Mínimo: {df3[col].min():.2f}")
    print(f"  Máximo: {df3[col].max():.2f}")
    print("-" * 40)

Estadísticas para Store:
  Media: 43.90
  Mediana: 47.00
  Desviación estándar: 23.54
  Mínimo: 1.00
  Máximo: 81.00
----------------------------------------
Estadísticas para Brand:
  Media: 12154.36
  Mediana: 6349.00
  Desviación estándar: 12368.17
  Mínimo: 58.00
  Máximo: 90631.00
----------------------------------------
Estadísticas para SalesQuantity:
  Media: 2.57
  Mediana: 1.00
  Desviación estándar: 4.57
  Mínimo: 1.00
  Máximo: 1176.00
----------------------------------------
Estadísticas para SalesDollars:
  Media: 35.27
  Mediana: 18.99
  Desviación estándar: 88.31
  Mínimo: 0.00
  Máximo: 22994.03
----------------------------------------
Estadísticas para SalesPrice:
  Media: 15.69
  Mediana: 12.99
  Desviación estándar: 15.26
  Mínimo: 0.00
  Máximo: 4999.99
----------------------------------------
Estadísticas para Volume:
  Media: 939.36
  Mediana: 750.00
  Desviación estándar: 699.23
  Mínimo: 50.00
  Máximo: 20000.00
----------------------------------------
Estadísticas para Classification:
  Media: 1.41
  Mediana: 1.00
  Desviación estándar: 0.49
  Mínimo: 1.00
  Máximo: 2.00
----------------------------------------
Estadísticas para ExciseTax:
  Media: 1.48
  Mediana: 0.75
  Desviación estándar: 4.74
  Mínimo: 0.01
  Máximo: 1034.51
----------------------------------------
Estadísticas para VendorNo:
  Media: 7125.15
  Mediana: 4692.00
  Desviación estándar: 8736.17
  Mínimo: 2.00
  Máximo: 201359.00
----------------------------------------

In [41]:
df3[(df3['SalesDollars'].isnull()) | (df3['SalesDollars'] == 0)]

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName,fecha_actualizacion
510458,15_WANBORNE_19465,15,19465,Flagstone Longitude Red,750mL,13,0.0,0.0,2016-05-02,750.0,2,1.46,2000,SOUTHERN WINE & SPIRITS NE,2025-05-27 18:54:47
1109734,23_ARBINGTON_19465,23,19465,Flagstone Longitude Red,750mL,6,0.0,0.0,2016-05-04,750.0,2,0.68,2000,SOUTHERN WINE & SPIRITS NE,2025-05-27 18:54:47
1884814,34_PITMERDEN_3046,34,3046,Ciroc Peach Vodka,1.75L,1,0.0,0.0,2016-07-03,1750.0,1,1.84,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
1927089,34_PITMERDEN_3963,34,3963,Menage A Trois Vodka,750mL,1,0.0,0.0,2016-08-01,750.0,1,0.79,8892,TRINCHERO FAMILY ESTATES,2025-05-27 18:54:47
2175751,38_GOULCREST_25340,38,25340,Dom La Soumade Rast Prestige,750mL,3,0.0,0.0,2016-02-13,750.0,2,0.34,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:47
2197752,38_GOULCREST_3046,38,3046,Ciroc Peach Vodka,1.75L,1,0.0,0.0,2016-07-03,1750.0,1,1.84,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
2730027,44_PORTHCRAWL_3046,44,3046,Ciroc Peach Vodka,1.75L,1,0.0,0.0,2016-07-02,1750.0,1,1.84,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
3117517,50_MOUNTMEND_19669,50,19669,Murphy-Goode Homefront Red,750mL,2,0.0,0.0,2016-11-26,750.0,2,0.22,9552,M S WALKER INC,2025-05-27 18:54:47
3117518,50_MOUNTMEND_19669,50,19669,Murphy-Goode Homefront Red,750mL,2,0.0,0.0,2016-11-30,750.0,2,0.22,9552,M S WALKER INC,2025-05-27 18:54:47
3117519,50_MOUNTMEND_19669,50,19669,Murphy-Goode Homefront Red,750mL,1,0.0,0.0,2016-12-01,750.0,2,0.11,9552,M S WALKER INC,2025-05-27 18:54:47
3117520,50_MOUNTMEND_19669,50,19669,Murphy-Goode Homefront Red,750mL,2,0.0,0.0,2016-12-09,750.0,2,0.22,9552,M S WALKER INC,2025-05-27 18:54:47
3155785,50_MOUNTMEND_3046,50,3046,Ciroc Peach Vodka,1.75L,1,0.0,0.0,2016-07-03,1750.0,1,1.84,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
3439952,54_GUTHRAM_19465,54,19465,Flagstone Longitude Red,750mL,2,0.0,0.0,2016-05-04,750.0,2,0.22,2000,SOUTHERN WINE & SPIRITS NE,2025-05-27 18:54:47
3632771,56_BEGGAR'S HOLE_19465,56,19465,Flagstone Longitude Red,750mL,1,0.0,0.0,2016-05-02,750.0,2,0.11,2000,SOUTHERN WINE & SPIRITS NE,2025-05-27 18:54:47
4037292,60_IRRAGIN_3046,60,3046,Ciroc Peach Vodka,1.75L,1,0.0,0.0,2016-07-04,1750.0,1,1.84,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
4151347,61_AETHELNEY_3046,61,3046,Ciroc Peach Vodka,1.75L,1,0.0,0.0,2016-07-02,1750.0,1,1.84,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
4477928,66_EANVERNESS_25340,66,25340,Dom La Soumade Rast Prestige,750mL,1,0.0,0.0,2016-02-16,750.0,2,0.11,4425,MARTIGNETTI COMPANIES,2025-05-27 18:54:47
4500153,66_EANVERNESS_3046,66,3046,Ciroc Peach Vodka,1.75L,1,0.0,0.0,2016-07-02,1750.0,1,1.84,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
4541167,66_EANVERNESS_3963,66,3963,Menage A Trois Vodka,750mL,1,0.0,0.0,2016-08-01,750.0,1,0.79,8892,TRINCHERO FAMILY ESTATES,2025-05-27 18:54:47
4988849,69_MOUNTMEND_3046,69,3046,Ciroc Peach Vodka,1.75L,1,0.0,0.0,2016-07-02,1750.0,1,1.84,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
5024587,69_MOUNTMEND_3963,69,3963,Menage A Trois Vodka,750mL,1,0.0,0.0,2016-08-01,750.0,1,0.79,8892,TRINCHERO FAMILY ESTATES,2025-05-27 18:54:47
5487576,73_DONCASTER_3046,73,3046,Ciroc Peach Vodka,1.75L,1,0.0,0.0,2016-07-03,1750.0,1,1.84,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
5839704,76_DONCASTER_19669,76,19669,Murphy-Goode Homefront Red,750mL,12,0.0,0.0,2016-11-18,750.0,2,1.35,9552,M S WALKER INC,2025-05-27 18:54:47
5899005,76_DONCASTER_3046,76,3046,Ciroc Peach Vodka,1.75L,3,0.0,0.0,2016-07-02,1750.0,1,5.51,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47

In [42]:
df3 = df3.drop(df3[(df3['SalesDollars'].isnull()) | (df3['SalesDollars'] == 0)].index)

In [43]:
columnas_numericas2 = df3.select_dtypes(include='number').columns

for col in columnas_numericas2:
    print(f"Estadísticas para {col}:")
    print(f"  Media: {df3[col].mean():.2f}")
    print(f"  Mediana: {df3[col].median():.2f}")
    print(f"  Desviación estándar: {df3[col].std():.2f}")
    print(f"  Mínimo: {df3[col].min():.2f}")
    print(f"  Máximo: {df3[col].max():.2f}")
    print("-" * 40)

Estadísticas para Store:
  Media: 43.90
  Mediana: 47.00
  Desviación estándar: 23.54
  Mínimo: 1.00
  Máximo: 81.00
----------------------------------------
Estadísticas para Brand:
  Media: 12154.36
  Mediana: 6349.00
  Desviación estándar: 12368.19
  Mínimo: 58.00
  Máximo: 90631.00
----------------------------------------
Estadísticas para SalesQuantity:
  Media: 2.57
  Mediana: 1.00
  Desviación estándar: 4.57
  Mínimo: 1.00
  Máximo: 1176.00
----------------------------------------
Estadísticas para SalesDollars:
  Media: 35.27
  Mediana: 18.99
  Desviación estándar: 88.31
  Mínimo: 0.49
  Máximo: 22994.03
----------------------------------------
Estadísticas para SalesPrice:
  Media: 15.69
  Mediana: 12.99
  Desviación estándar: 15.26
  Mínimo: 0.49
  Máximo: 4999.99
----------------------------------------
Estadísticas para Volume:
  Media: 939.36
  Mediana: 750.00
  Desviación estándar: 699.23
  Mínimo: 50.00
  Máximo: 20000.00
----------------------------------------
Estadísticas para Classification:
  Media: 1.41
  Mediana: 1.00
  Desviación estándar: 0.49
  Mínimo: 1.00
  Máximo: 2.00
----------------------------------------
Estadísticas para ExciseTax:
  Media: 1.48
  Mediana: 0.75
  Desviación estándar: 4.74
  Mínimo: 0.01
  Máximo: 1034.51
----------------------------------------
Estadísticas para VendorNo:
  Media: 7125.15
  Mediana: 4692.00
  Desviación estándar: 8736.18
  Mínimo: 2.00
  Máximo: 201359.00
----------------------------------------

Buscamos datos duplicados, pero no encontramos

In [44]:
df3[df3.duplicated(keep=False)]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, SalesQuantity, SalesDollars, SalesPrice, SalesDate, Volume, Classification, ExciseTax, VendorNo, VendorName, fecha_actualizacion]
Index: []

Buscamos datos faltantes en las columnas del tipo texto

In [45]:
# Seleccionar columnas de tipo string / objeto
text_cols = df3.select_dtypes(include='object').columns

# Filtro la cantidad de datos que tienen valores null o vacios
df3[text_cols].isnull().sum() + (df3[text_cols] == "").sum()

InventoryId    0
Description    0
Size           0
VendorName     0
dtype: int64

No encontramos ninguna faltante.

In [46]:
np.shape(df3)

(6412657, 15)

In [47]:
def remove_whitespace(df3,*columns):
    for column in columns:
        df3[column]=df3[column].str.strip()
    return df3

df3=remove_whitespace(df3,'VendorName','Description')

In [48]:
df3.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName,fecha_actualizacion
0,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-05,50.0,1,0.05,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
1,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-12,50.0,1,0.05,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
2,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-20,50.0,1,0.05,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
3,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-08-29,50.0,1,0.05,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47
4,1_HARDERSFIELD_1001,1,1001,Bailey's 50mL 4 Pack,50mL 4 Pk,1,5.99,5.99,2016-09-08,50.0,1,0.05,3960,DIAGEO NORTH AMERICA INC,2025-05-27 18:54:47

In [49]:
def typecast_date(df3,*columns):
    for column in columns:
        df3[column]=pd.to_datetime(df3[column])
    return df3

df3=typecast_date(df3,'SalesDate')

In [50]:
df3 = df3.drop(columns=['VendorName'])

In [51]:
#Ya hicimos toda la limpieza, guardamos
df3.to_csv('SalesFINAL12312016_Modificado.csv', index=False)

## Aca finaliza la limpieza de SalesFINAL12312016
## Aca inicia la limpieza de Purchases12312016

In [52]:
df4 = pd.read_sql_table("InvoicePurchases12312016", con=engine)

In [53]:
df4.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval,fecha_actualizacion
0,0,VendorName,NaT,0,NaT,NaT,0,0.00,0.00,"Approval""\r\n105,""ALTAMAR BRANDS LLC",2025-05-27 18:54:24
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,"None""\r\n388,""ATLANTIC IMPORTING COMPANY",2025-05-27 18:54:24
2,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,"None""\r\n516,""BANFI PRODUCTS CORP",2025-05-27 18:54:24
3,2396,BLACK PRINCE DISTILLERY INC,2016-01-08,8191,2015-12-25,2016-02-06,23,234.83,2.30,"None""\r\n1128,""BROWN-FORMAN CORP",2025-05-27 18:54:24
4,1189,BULLY BOY DISTILLERS,2016-01-09,8171,2015-12-24,2016-02-04,6,132.30,5.29,"None""\r\n1273,""CALEDONIA SPIRITS INC",2025-05-27 18:54:24

In [54]:
np.shape(df4)

(2776, 11)

In [55]:
print(df4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   VendorNumber         2776 non-null   int64
 1   VendorName           2776 non-null   object
 2   InvoiceDate          2775 non-null   datetime64[ns]
 3   PONumber             2776 non-null   int64
 4   PODate               2775 non-null   datetime64[ns]
 5   PayDate              2775 non-null   datetime64[ns]
 6   Quantity             2776 non-null   int64
 7   Dollars              2776 non-null   float64
 8   Freight              2776 non-null   float64
 9   Approval             2776 non-null   object
 10  fecha_actualizacion  2776 non-null   datetime64[ns]
dtypes: datetime64[ns](4), float64(2), int64(3), object(2)
memory usage: 238.7+ KB
None

In [56]:
df4 = df4.drop(index=0).reset_index(drop=True)

In [57]:
df4.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval,fecha_actualizacion
0,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,"None""\r\n388,""ATLANTIC IMPORTING COMPANY",2025-05-27 18:54:24
1,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,"None""\r\n516,""BANFI PRODUCTS CORP",2025-05-27 18:54:24
2,2396,BLACK PRINCE DISTILLERY INC,2016-01-08,8191,2015-12-25,2016-02-06,23,234.83,2.30,"None""\r\n1128,""BROWN-FORMAN CORP",2025-05-27 18:54:24
3,1189,BULLY BOY DISTILLERS,2016-01-09,8171,2015-12-24,2016-02-04,6,132.30,5.29,"None""\r\n1273,""CALEDONIA SPIRITS INC",2025-05-27 18:54:24
4,11567,CAMPARI AMERICA,2016-01-06,8151,2015-12-23,2016-02-20,1321,12039.71,398.71,"None""\r\n90046,""CANDIA VINEYARDS",2025-05-27 18:54:24

In [58]:
df4.isnull().sum()

VendorNumber           0
VendorName             0
InvoiceDate            0
PONumber               0
PODate                 0
PayDate                0
Quantity               0
Dollars                0
Freight                0
Approval               0
fecha_actualizacion    0
dtype: int64

In [59]:
columnas_numericas4 = df4.select_dtypes(include='number').columns

for col in columnas_numericas4:
    print(f"Estadísticas para {col}:")
    print(f"  Media: {df4[col].mean():.2f}")
    print(f"  Mediana: {df4[col].median():.2f}")
    print(f"  Desviación estándar: {df4[col].std():.2f}")
    print(f"  Mínimo: {df4[col].min():.2f}")
    print(f"  Máximo: {df4[col].max():.2f}")
    print("-" * 40)

Estadísticas para VendorNumber:
  Media: 20452.81
  Mediana: 7240.00
  Desviación estándar: 34499.17
  Mínimo: 2.00
  Máximo: 201359.00
----------------------------------------
Estadísticas para PONumber:
  Media: 10886.80
  Mediana: 10886.00
  Desviación estándar: 1601.49
  Mínimo: 8106.00
  Máximo: 13661.00
----------------------------------------
Estadísticas para Quantity:
  Media: 6246.86
  Mediana: 398.00
  Desviación estándar: 14931.16
  Mínimo: 1.00
  Máximo: 128861.00
----------------------------------------
Estadísticas para Dollars:
  Media: 59986.34
  Mediana: 4695.52
  Desviación estándar: 146862.22
  Mínimo: 4.14
  Máximo: 1468470.64
----------------------------------------
Estadísticas para Freight:
  Media: 305.41
  Mediana: 24.18
  Desviación estándar: 746.83
  Mínimo: 0.02
  Máximo: 7753.26
----------------------------------------

In [60]:
df4['Approval'] = df4['Approval'].astype(str).str.extract(r'^([^\r\n]*)')[0].str.strip('"')

In [61]:
df4 = df4.replace('None', np.nan)

In [62]:
df4.isna().sum()

VendorNumber              0
VendorName                0
InvoiceDate               0
PONumber                  0
PODate                    0
PayDate                   0
Quantity                  0
Dollars                   0
Freight                   0
Approval               2574
fecha_actualizacion       0
dtype: int64

In [63]:
df4.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval,fecha_actualizacion
0,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN,2025-05-27 18:54:24
1,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN,2025-05-27 18:54:24
2,2396,BLACK PRINCE DISTILLERY INC,2016-01-08,8191,2015-12-25,2016-02-06,23,234.83,2.30,NaN,2025-05-27 18:54:24
3,1189,BULLY BOY DISTILLERS,2016-01-09,8171,2015-12-24,2016-02-04,6,132.30,5.29,NaN,2025-05-27 18:54:24
4,11567,CAMPARI AMERICA,2016-01-06,8151,2015-12-23,2016-02-20,1321,12039.71,398.71,NaN,2025-05-27 18:54:24

In [64]:
df4.drop('Approval',axis=1,inplace=True)

In [65]:
df4.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,fecha_actualizacion
0,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,2025-05-27 18:54:24
1,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,2025-05-27 18:54:24
2,2396,BLACK PRINCE DISTILLERY INC,2016-01-08,8191,2015-12-25,2016-02-06,23,234.83,2.30,2025-05-27 18:54:24
3,1189,BULLY BOY DISTILLERS,2016-01-09,8171,2015-12-24,2016-02-04,6,132.30,5.29,2025-05-27 18:54:24
4,11567,CAMPARI AMERICA,2016-01-06,8151,2015-12-23,2016-02-20,1321,12039.71,398.71,2025-05-27 18:54:24

In [66]:
df4[df4.duplicated(keep=False)]

Empty DataFrame
Columns: [VendorNumber, VendorName, InvoiceDate, PONumber, PODate, PayDate, Quantity, Dollars, Freight, fecha_actualizacion]
Index: []

In [67]:
def remove_whitespace(df4,*columns):
    for column in columns:
        df4[column]=df4[column].str.strip()
    return df4

df4=remove_whitespace(df4,'VendorName')

In [68]:
def typecast_date(df4,*columns):
    for column in columns:
        df4[column]=pd.to_datetime(df4[column])
    return df4

df4=typecast_date(df4,'InvoiceDate','PODate','PayDate')

In [69]:
#Ya hicimos toda la limpieza, guardamos
df4.to_csv('Purchases12312016_Modificado.csv', index=False)

## Aca finaliza la limpieza de Purchases12312016
## Aca inicia la limpieza de BegInvFINAL12312016

In [70]:
df5 = pd.read_sql_table("BegInvFINAL12312016", con=engine)

In [71]:
df5.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate,fecha_actualizacion
0,1_HARDERSFIELD_1000,1,HARDERSFIELD,1000,Goslings Dark'n Stormy VAP,750mL,0,14.99,2016-01-01,2025-05-27 18:54:12
1,1_HARDERSFIELD_1001,1,HARDERSFIELD,1001,Baileys 50mL 4 Pack,50mL 4 Pk,0,5.99,2016-01-01,2025-05-27 18:54:12
2,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021,Clayhouse Syrah Paso Robles,750mL,25,11.99,2016-01-01,2025-05-27 18:54:12
3,1_HARDERSFIELD_1004,1,HARDERSFIELD,1004,Jim Beam w/2 Rocks Glasses,750mL,17,16.49,2016-01-01,2025-05-27 18:54:12
4,1_HARDERSFIELD_1005,1,HARDERSFIELD,1005,Maker's Mark Combo Pack,375mL 2 Pk,7,34.99,2016-01-01,2025-05-27 18:54:12

In [72]:
np.shape(df5)

(206529, 10)

In [73]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206529 entries, 0 to 206528
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   InventoryId          206529 non-null  object
 1   Store                206529 non-null  int64
 2   City                 206529 non-null  object
 3   Brand                206529 non-null  int64
 4   Description          206529 non-null  object
 5   Size                 206529 non-null  object
 6   onHand               206529 non-null  int64
 7   Price                206529 non-null  float64
 8   startDate            206528 non-null  datetime64[ns]
 9   fecha_actualizacion  206529 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(4)
memory usage: 15.8+ MB

In [74]:
df5.isnull().sum()

InventoryId            0
Store                  0
City                   0
Brand                  0
Description            0
Size                   0
onHand                 0
Price                  0
startDate              1
fecha_actualizacion    0
dtype: int64

In [75]:
df5[df5['startDate'].isnull()]

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate,fecha_actualizacion
206528,InventoryId,0,City,0,Description,Size,0,0.0,NaT,2025-05-27 18:54:12

In [76]:
df5 = df5.drop(df5[df5['startDate'].isnull()].index)

In [77]:
columnas_numericas5 = df5.select_dtypes(include='number').columns

for col in columnas_numericas5:
    print(f"Estadísticas para {col}:")
    print(f"  Media: {df5[col].mean():.2f}")
    print(f"  Mediana: {df5[col].median():.2f}")
    print(f"  Desviación estándar: {df5[col].std():.2f}")
    print(f"  Mínimo: {df5[col].min():.2f}")
    print(f"  Máximo: {df5[col].max():.2f}")
    print("-" * 40)

Estadísticas para Store:
  Media: 42.12
  Mediana: 42.00
  Desviación estándar: 23.19
  Mínimo: 1.00
  Máximo: 79.00
----------------------------------------
Estadísticas para Brand:
  Media: 13761.55
  Mediana: 8010.00
  Desviación estándar: 13059.43
  Mínimo: 58.00
  Máximo: 90090.00
----------------------------------------
Estadísticas para onHand:
  Media: 20.43
  Mediana: 12.00
  Desviación estándar: 31.47
  Mínimo: 0.00
  Máximo: 1251.00
----------------------------------------
Estadísticas para Price:
  Media: 22.25
  Mediana: 14.99
  Desviación estándar: 70.18
  Mínimo: 0.00
  Máximo: 13999.90
----------------------------------------

In [78]:
df5[(df5['Price'].isnull()) | (df5['Price'] == 0)]

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate,fecha_actualizacion
15989,15_WANBORNE_19138,15,WANBORNE,19138,Gerard Bertrand Organic Rose,750mL,0,0.0,2016-01-01,2025-05-27 18:54:12
165258,69_MOUNTMEND_19138,69,MOUNTMEND,19138,Gerard Bertrand Organic Rose,750mL,2,0.0,2016-01-01,2025-05-27 18:54:12

In [79]:
df5[df5['Description'].str.contains('Gerard Bertrand Organic Rose', case=False, na=False)]

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate,fecha_actualizacion
15989,15_WANBORNE_19138,15,WANBORNE,19138,Gerard Bertrand Organic Rose,750mL,0,0.0,2016-01-01,2025-05-27 18:54:12
165258,69_MOUNTMEND_19138,69,MOUNTMEND,19138,Gerard Bertrand Organic Rose,750mL,2,0.0,2016-01-01,2025-05-27 18:54:12

In [80]:
df5.loc[df5['Description'].str.contains('Gerard Bertrand Organic Rose', case=False, na=False), 'Price'] = 9.99

In [81]:
df5[df5.duplicated(keep=False)]

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, startDate, fecha_actualizacion]
Index: []

In [82]:
#Obtenego solo nombres de columnas de tipo texto
text_cols = df5.select_dtypes(include='object').columns

# Calculo cuántos valores nulos o vacíos hay en cada columna de texto
df5[text_cols].isnull().sum() + (df5[text_cols] == "").sum()

InventoryId    0
City           0
Description    0
Size           0
dtype: int64

In [83]:
def remove_whitespace(df,*columns):
    for column in columns:
        df[column]=df[column].str.strip()
    return df

df5=remove_whitespace(df5,'City','Description')

In [84]:
def typecast_date(df,*columns):
    for column in columns:
        df[column]=pd.to_datetime(df[column])
    return df

df5=typecast_date(df5,'startDate')

In [85]:
df5.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate,fecha_actualizacion
0,1_HARDERSFIELD_1000,1,HARDERSFIELD,1000,Goslings Dark'n Stormy VAP,750mL,0,14.99,2016-01-01,2025-05-27 18:54:12
1,1_HARDERSFIELD_1001,1,HARDERSFIELD,1001,Baileys 50mL 4 Pack,50mL 4 Pk,0,5.99,2016-01-01,2025-05-27 18:54:12
2,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021,Clayhouse Syrah Paso Robles,750mL,25,11.99,2016-01-01,2025-05-27 18:54:12
3,1_HARDERSFIELD_1004,1,HARDERSFIELD,1004,Jim Beam w/2 Rocks Glasses,750mL,17,16.49,2016-01-01,2025-05-27 18:54:12
4,1_HARDERSFIELD_1005,1,HARDERSFIELD,1005,Maker's Mark Combo Pack,375mL 2 Pk,7,34.99,2016-01-01,2025-05-27 18:54:12

In [86]:
np.shape(df5)

(206528, 10)

In [87]:
#Ya hicimos toda la limpieza, guardamos
df5.to_csv('BegInvFINAL12312016_Modificado.csv', index=False)

## Aca finaliza la limpieza de BegInvFINAL12312016
## Aca inicia la limpieza de EndInvFINAL12312016

In [88]:
df6 = pd.read_sql_table("EndInvFINAL12312016", con=engine)

In [89]:
df6.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate,fecha_actualizacion
0,01,1,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:27:09
1,02,2,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:37:06
2,03,3,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:39:42
3,04,4,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:41:16
4,05,5,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:42:43

In [90]:
np.shape(df6)

(224495, 10)

In [91]:
df6.isnull().sum()

InventoryId            0
Store                  0
City                   0
Brand                  6
Description            6
Size                   6
onHand                 6
Price                  6
endDate                7
fecha_actualizacion    0
dtype: int64

In [92]:
df6[df6['endDate'].isnull()]

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate,fecha_actualizacion
0,01,1,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:27:09
1,02,2,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:37:06
2,03,3,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:39:42
3,04,4,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:41:16
4,05,5,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:42:43
5,06,6,Buenos Aires,NaN,None,None,NaN,NaN,NaT,2025-05-30 15:46:30
224494,InventoryId,0,City,0.0,Description,Size,0.0,0.0,NaT,2025-05-27 18:54:18

In [93]:
df6 = df6.drop(df6[df6['endDate'].isnull()].index)

In [94]:
columnas_numericas6 = df6.select_dtypes(include='number').columns

for col in columnas_numericas6:
    print(f"Estadísticas para {col}:")
    print(f"  Media: {df6[col].mean():.2f}")
    print(f"  Mediana: {df6[col].median():.2f}")
    print(f"  Desviación estándar: {df6[col].std():.2f}")
    print(f"  Mínimo: {df6[col].min():.2f}")
    print(f"  Máximo: {df6[col].max():.2f}")
    print("-" * 40)

Estadísticas para Store:
  Media: 43.51
  Mediana: 44.00
  Desviación estándar: 23.33
  Mínimo: 1.00
  Máximo: 81.00
----------------------------------------
Estadísticas para Brand:
  Media: 14356.43
  Mediana: 8259.00
  Desviación estándar: 13118.46
  Mínimo: 58.00
  Máximo: 90631.00
----------------------------------------
Estadísticas para onHand:
  Media: 21.76
  Mediana: 12.00
  Desviación estándar: 37.23
  Mínimo: 0.00
  Máximo: 3676.00
----------------------------------------
Estadísticas para Price:
  Media: 23.59
  Mediana: 14.99
  Desviación estándar: 79.20
  Mínimo: 0.49
  Máximo: 13999.90
----------------------------------------

In [95]:
df6[df6.duplicated(keep=False)]

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, endDate, fecha_actualizacion]
Index: []

In [96]:
columnas_numericas6 = df6.select_dtypes(include='number').columns

for col in columnas_numericas6:
    print(f"Estadísticas para {col}:")
    print(f"  Media: {df6[col].mean():.2f}")
    print(f"  Mediana: {df6[col].median():.2f}")
    print(f"  Desviación estándar: {df6[col].std():.2f}")
    print(f"  Mínimo: {df6[col].min():.2f}")
    print(f"  Máximo: {df6[col].max():.2f}")
    print("-" * 40)

Estadísticas para Store:
  Media: 43.51
  Mediana: 44.00
  Desviación estándar: 23.33
  Mínimo: 1.00
  Máximo: 81.00
----------------------------------------
Estadísticas para Brand:
  Media: 14356.43
  Mediana: 8259.00
  Desviación estándar: 13118.46
  Mínimo: 58.00
  Máximo: 90631.00
----------------------------------------
Estadísticas para onHand:
  Media: 21.76
  Mediana: 12.00
  Desviación estándar: 37.23
  Mínimo: 0.00
  Máximo: 3676.00
----------------------------------------
Estadísticas para Price:
  Media: 23.59
  Mediana: 14.99
  Desviación estándar: 79.20
  Mínimo: 0.49
  Máximo: 13999.90
----------------------------------------

In [97]:
df6[df6['Store'].isnull()]

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, endDate, fecha_actualizacion]
Index: []

In [98]:
#Obtenego solo nombres de columnas de tipo texto
text_cols = df6.select_dtypes(include='object').columns

# Calculo cuántos valores nulos o vacíos hay en cada columna de texto
df6[text_cols].isnull().sum() + (df6[text_cols] == "").sum()

InventoryId       0
City           1284
Description       0
Size              0
dtype: int64

In [99]:
df6.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate,fecha_actualizacion
6,1_HARDERSFIELD_1001,1,HARDERSFIELD,1001.0,Baileys 50mL 4 Pack,50mL 4 Pk,0.0,5.99,2016-12-31,2025-05-27 18:54:18
7,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021.0,Clayhouse Syrah Paso Robles,750mL,23.0,13.99,2016-12-31,2025-05-27 18:54:18
8,1_HARDERSFIELD_1003,1,HARDERSFIELD,1003.0,Crown Royal VAP Glass+Coastr,750mL,0.0,22.99,2016-12-31,2025-05-27 18:54:18
9,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058.0,F Coppola Dmd Ivry Cab Svgn,750mL,47.0,14.99,2016-12-31,2025-05-27 18:54:18
10,1_HARDERSFIELD_10062,1,HARDERSFIELD,10062.0,B de Beauchene CDR Rouge,750mL,29.0,8.99,2016-12-31,2025-05-27 18:54:18

In [100]:
df6[df6['InventoryId'].str.contains('__', na=False)]

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate,fecha_actualizacion
101319,46__1003,46,,1003.0,Crown Royal VAP Glass+Coastr,750mL,0.0,22.99,2016-12-31,2025-05-27 18:54:18
101320,46__10058,46,,10058.0,F Coppola Dmd Ivry Cab Svgn,750mL,0.0,14.99,2016-12-31,2025-05-27 18:54:18
101321,46__10236,46,,10236.0,Layer Cake Malbec Mendoza,750mL,0.0,11.95,2016-12-31,2025-05-27 18:54:18
101322,46__10238,46,,10238.0,Layer Cake Primitivo Puglia,750mL,0.0,15.99,2016-12-31,2025-05-27 18:54:18
101323,46__10266,46,,10266.0,Klinker Brick Old Vine Znfdl,750mL,0.0,15.99,2016-12-31,2025-05-27 18:54:18
...,...,...,...,...,...,...,...,...,...,...
102598,46__9388,46,,9388.0,Hennessy Privilege VSOP,375mL,0.0,23.99,2016-12-31,2025-05-27 18:54:18
102599,46__966,46,,966.0,Patron Citronge Orange Liqu,750mL,0.0,20.99,2016-12-31,2025-05-27 18:54:18
102600,46__976,46,,976.0,McCormick Gold Label Bourbon,Liter,0.0,9.49,2016-12-31,2025-05-27 18:54:18
102601,46__981,46,,981.0,McCormick Triple Sec,Liter,0.0,3.99,2016-12-31,2025-05-27 18:54:18
102602,46__984,46,,984.0,Patron XO Cafe Liqueur,750mL,0.0,25.99,2016-12-31,2025-05-27 18:54:18

In [120]:
# Diccionario de Store -> City
city_map = df5.dropna(subset=['City']).drop_duplicates(subset=['Store'])
store_to_city = dict(zip(city_map['Store'], city_map['City']))

In [121]:
# Reemplazo solo donde City está vacío o es NaN
df6['City'] = df6.apply(
    lambda row: store_to_city.get(row['Store'], row['City']) 
    if pd.isna(row['City']) or row['City'].strip() == "" 
    else row['City'],
    axis=1
)

In [122]:
df6[(df6['City'].isnull()) | (df6['City'] == "")]

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, endDate, fecha_actualizacion]
Index: []

In [123]:
mask = df6['InventoryId'].str.contains('__', na=False)

df6.loc[mask, 'InventoryId'] = df6.loc[mask].apply(
    lambda row: row['InventoryId'].replace('_', f"{row['City']}_") if pd.notnull(row['City']) else row['InventoryId'],
    axis=1
)

In [124]:
df6[df6['InventoryId'].str.contains('__', na=False)]

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size, onHand, Price, endDate, fecha_actualizacion]
Index: []

In [125]:
df6.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate,fecha_actualizacion
6,1_HARDERSFIELD_1001,1,HARDERSFIELD,1001.0,Baileys 50mL 4 Pack,50mL 4 Pk,0.0,5.99,2016-12-31,2025-05-27 18:54:18
7,1_HARDERSFIELD_10021,1,HARDERSFIELD,10021.0,Clayhouse Syrah Paso Robles,750mL,23.0,13.99,2016-12-31,2025-05-27 18:54:18
8,1_HARDERSFIELD_1003,1,HARDERSFIELD,1003.0,Crown Royal VAP Glass+Coastr,750mL,0.0,22.99,2016-12-31,2025-05-27 18:54:18
9,1_HARDERSFIELD_10058,1,HARDERSFIELD,10058.0,F Coppola Dmd Ivry Cab Svgn,750mL,47.0,14.99,2016-12-31,2025-05-27 18:54:18
10,1_HARDERSFIELD_10062,1,HARDERSFIELD,10062.0,B de Beauchene CDR Rouge,750mL,29.0,8.99,2016-12-31,2025-05-27 18:54:18

In [126]:
def remove_whitespace(df,*columns):
    for column in columns:
        df[column]=df[column].str.strip()
    return df

df6=remove_whitespace(df6,'City','Description')

In [127]:
def typecast_date(df,*columns):
    for column in columns:
        df[column]=pd.to_datetime(df[column])
    return df

df6=typecast_date(df6,'endDate')

In [109]:
#Ya hicimos toda la limpieza, guardamos
df6.to_csv('EndInvFINAL12312016_Modificado.csv', index=False)

## Aca hago un paso extra en df2, para reemplazar los valores faltantes en inventoryID:

In [159]:
df2.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1,2025-05-27 18:54:37
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1,2025-05-27 18:54:37
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1,2025-05-27 18:54:37
3,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1,2025-05-27 18:54:37
4,5_SUTTON_3348,5,3348,Bombay Sapphire Gin,1.75L,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,22.38,6,134.28,1,2025-05-27 18:54:37

In [160]:

# Solo columnas necesarias
df_city = df5[['Store', 'City']].drop_duplicates(subset=['Store']).dropna()

# Merge con df2
df2 = df2.merge(df_city, on='Store', how='left', suffixes=('', '_new'))

# Filtro para IDs con '__'
mask = df2['InventoryId'].str.contains('__', na=False)

# Reemplazo
df2.loc[mask, 'InventoryId'] = df2.loc[mask].apply(
    lambda row: row['InventoryId'].replace('_', f"{row['City']}_") if pd.notnull(row['City']) else row['InventoryId'],
    axis=1
)

In [161]:
df2[df2['InventoryId'].str.contains('__', na=False)]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion,City
1502548,81__90088,81,90088,Ch Le Petite Mouton 12 Pauil,750mL,1703,ALISA CARR BEVERAGES,11816,2016-08-26,2016-08-29,2016-09-05,2016-10-22,92.46,3,277.38,2,2025-05-27 18:54:37,NaN
1502552,81__90604,81,90604,Ch Lynch Bages Pauilac,750mL,1703,ALISA CARR BEVERAGES,11816,2016-08-26,2016-08-29,2016-09-05,2016-10-22,78.42,2,156.84,2,2025-05-27 18:54:37,NaN
1502555,81__90087,81,90087,Ch Mouton Rothschild 12 Paui,750mL,1703,ALISA CARR BEVERAGES,11816,2016-08-26,2016-08-29,2016-09-05,2016-10-22,311.25,3,933.75,2,2025-05-27 18:54:37,NaN
1504656,81__22840,81,22840,Banfi Poggio All'Oro Br Mont,750mL,516,BANFI PRODUCTS CORP,11818,2016-08-26,2016-08-29,2016-09-12,2016-10-08,83.86,2,167.72,2,2025-05-27 18:54:37,NaN
1511621,81__11321,81,11321,BV GDL Private Rsv Cab Svgn,750mL,1590,DIAGEO CHATEAU ESTATE WINES,11819,2016-08-26,2016-08-29,2016-09-08,2016-10-11,77.88,3,233.64,2,2025-05-27 18:54:37,NaN
1526746,81__22054,81,22054,Lokoya Spring Mtn Cab Svgn,750mL,9552,M S WALKER INC,11756,2016-08-22,2016-08-29,2016-09-13,2016-10-08,211.03,3,633.09,2,2025-05-27 18:54:37,NaN
1527105,81__16896,81,16896,Nicolas Catena Zapata Mendza,750mL,9552,M S WALKER INC,11756,2016-08-22,2016-08-29,2016-09-13,2016-10-08,71.42,3,214.26,2,2025-05-27 18:54:37,NaN
1527479,81__22052,81,22052,Lokoya Howell Mtn Cab Svgn,750mL,9552,M S WALKER INC,11756,2016-08-22,2016-08-29,2016-09-13,2016-10-08,215.23,2,430.46,2,2025-05-27 18:54:37,NaN
1528948,81__21737,81,21737,Paul Hobbs Beckstoffer Cab S,750mL,4425,MARTIGNETTI COMPANIES,11781,2016-08-23,2016-08-29,2016-09-07,2016-10-16,120.80,3,362.40,2,2025-05-27 18:54:37,NaN
1528990,81__11776,81,11776,Diamond Crk Gravelly Cab Svg,750mL,4425,MARTIGNETTI COMPANIES,11781,2016-08-23,2016-08-29,2016-09-07,2016-10-16,154.10,3,462.30,2,2025-05-27 18:54:37,NaN
1529730,81__25602,81,25602,Ramey Cab Svgn Pedregal Vyd,750mL,4425,MARTIGNETTI COMPANIES,11781,2016-08-23,2016-08-29,2016-09-07,2016-10-16,123.37,2,246.74,2,2025-05-27 18:54:37,NaN
1530459,81__26104,81,26104,Spottswoode Cab Svgn Napa,750mL,4425,MARTIGNETTI COMPANIES,11781,2016-08-23,2016-08-29,2016-09-07,2016-10-16,105.51,3,316.53,2,2025-05-27 18:54:37,NaN
1530791,81__11775,81,11775,Diamond Creek Red Rock Cab S,750mL,4425,MARTIGNETTI COMPANIES,11781,2016-08-23,2016-08-29,2016-09-07,2016-10-16,149.99,2,299.98,2,2025-05-27 18:54:37,NaN
1531168,81__23110,81,23110,Duckhorn Estates Merlot,1.5L,4425,MARTIGNETTI COMPANIES,11781,2016-08-23,2016-08-29,2016-09-07,2016-10-16,109.67,2,219.34,2,2025-05-27 18:54:37,NaN
1532416,81__11774,81,11774,Diamond Crk Cab Svgn Volcanc,750mL,4425,MARTIGNETTI COMPANIES,11781,2016-08-23,2016-08-29,2016-09-07,2016-10-16,148.02,2,296.04,2,2025-05-27 18:54:37,NaN
1533249,81__19218,81,19218,Veuve Clicquot Brut Grande,750mL,8112,MOET HENNESSY USA INC,11800,2016-08-24,2016-08-29,2016-09-11,2016-10-12,80.53,3,241.59,2,2025-05-27 18:54:37,NaN
1534765,81__21443,81,21443,Ch L'Englise Clinet St Emiln,750mL,10754,PERFECTA WINES,11825,2016-08-26,2016-08-29,2016-09-11,2016-10-17,102.59,3,307.77,2,2025-05-27 18:54:37,NaN
1534820,81__21459,81,21459,Chateau Montrose St Estephe,750mL,10754,PERFECTA WINES,11825,2016-08-26,2016-08-29,2016-09-11,2016-10-17,100.65,3,301.95,2,2025-05-27 18:54:37,NaN
1535254,81__23755,81,23755,Ch Haut Brion 12 Pessac-Leog,750mL,10754,PERFECTA WINES,11825,2016-08-26,2016-08-29,2016-09-11,2016-10-17,359.86,3,1079.58,2,2025-05-27 18:54:37,NaN
1535299,81__23769,81,23769,Ch Pape Clement 12 Pess-Leog,750mL,10754,PERFECTA WINES,11825,2016-08-26,2016-08-29,2016-09-11,2016-10-17,73.68,3,221.04,2,2025-05-27 18:54:37,NaN
1535376,81__36063,81,36063,Ch La Mission Haut-Brion 10,750mL,10754,PERFECTA WINES,11825,2016-08-26,2016-08-29,2016-09-11,2016-10-17,753.42,3,2260.26,2,2025-05-27 18:54:37,NaN
1535390,81__23783,81,23783,Pavillon du Ch Margaux 12 Ma,750mL,10754,PERFECTA WINES,11825,2016-08-26,2016-08-29,2016-09-11,2016-10-17,114.28,3,342.84,2,2025-05-27 18:54:37,NaN
1535430,81__23756,81,23756,Ch La Mission 12 Haut Brion,750mL,10754,PERFECTA WINES,11825,2016-08-26,2016-08-29,2016-09-11,2016-10-17,224.32,3,672.96,2,2025-05-27 18:54:37,NaN
1535548,81__26583,81,26583,Billecart-Salmon Brut 02 N F,750mL,10754,PERFECTA WINES,11825,2016-08-26,2016-08-29,2016-09-11,2016-10-17,128.27,2,256.54,2,2025-05-27 18:54:37,NaN
1535591,81__23762,81,23762,Ch Margaux 12 Margaux,750mL,10754,PERFECTA WINES,11825,2016-08-26,2016-08-29,2016-09-11,2016-10-17,360.54,3,1081.62,2,2025-05-27 18:54:37,NaN
1543862,81__23336,81,23336,Ch Pavie St Emilion 11 Gr Cr,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,155.40,3,466.20,2,2025-05-27 18:54:37,NaN
1543919,81__23327,81,23327,Ch Cheval Blanc St Emil 11,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,616.43,3,1849.29,2,2025-05-27 18:54:37,NaN
1543951,81__24328,81,24328,Ch Ducru Beaucaillou 12 St J,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,101.30,3,303.90,2,2025-05-27 18:54:37,NaN
1544104,81__24329,81,24329,Ch Cos d'Estournel St-Est 12,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,135.61,3,406.83,2,2025-05-27 18:54:37,NaN
1544108,81__20024,81,20024,Inglenook Rubicon 09,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,115.53,3,346.59,2,2025-05-27 18:54:37,NaN
1544122,81__23329,81,23329,Ch Clos d'Estournel 11 Est,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,149.00,3,447.00,2,2025-05-27 18:54:37,NaN
1544165,81__23289,81,23289,Ch Mouton Rothschild 11 Paui,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,479.45,3,1438.35,2,2025-05-27 18:54:37,NaN
1544205,81__23325,81,23325,Ch Bellevue-Mondotte 11 Emil,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,136.36,3,409.08,2,2025-05-27 18:54:37,NaN
1544275,81__23286,81,23286,Ch Pape Clement Bl Gr Cru 11,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,132.44,2,264.88,2,2025-05-27 18:54:37,NaN
1544358,81__23324,81,23324,Ch Angelus 11 Brdx,750mL,2000,SOUTHERN WINE & SPIRITS NE,11764,2016-08-22,2016-08-29,2016-09-05,2016-10-11,189.18,3,567.54,2,2025-05-27 18:54:37,NaN
1549164,81__15971,81,15971,Revana Cab Svgn Napa Vly,750mL,9165,ULTRA BEVERAGE COMPANY LLP,11788,2016-08-23,2016-08-29,2016-09-10,2016-10-20,71.89,3,215.67,2,2025-05-27 18:54:37,NaN

In [162]:
# Solo columnas necesarias
df_city = df6[['Store', 'City']].drop_duplicates(subset=['Store']).dropna()

# Merge con df2
df2 = df2.merge(df_city, on='Store', how='left', suffixes=('', '_new2'))

# Filtro para IDs con '__'
mask = df2['InventoryId'].str.contains('__', na=False)

# Reemplazo
df2.loc[mask, 'InventoryId'] = df2.loc[mask].apply(
    lambda row: row['InventoryId'].replace('_', f"{row['City']}_") if pd.notnull(row['City']) else row['InventoryId'],
    axis=1
)

In [168]:
df2[df2['InventoryId'].str.contains('__', na=False)]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, fecha_actualizacion]
Index: []

In [164]:
mask = df2['InventoryId'].str.contains('__', na=False)

df2.loc[mask, 'InventoryId'] = df6.loc[mask].apply(
    lambda row: row['InventoryId'].replace('_', f"{row['City_new2']}_") if pd.notnull(row['City_new2']) else row['InventoryId'],
    axis=1
)

In [165]:
df2[df2['InventoryId'].str.contains('__', na=False)]

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, VendorNumber, VendorName, PONumber, PODate, ReceivingDate, InvoiceDate, PayDate, PurchasePrice, Quantity, Dollars, Classification, fecha_actualizacion, City, City_new2]
Index: []

In [167]:
df2 = df2.drop(columns=['City'])
df2 = df2.drop(columns=['City_new2'])

In [169]:
df2.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification,fecha_actualizacion
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1,2025-05-27 18:54:37
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1,2025-05-27 18:54:37
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1,2025-05-27 18:54:37
3,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1,2025-05-27 18:54:37
4,5_SUTTON_3348,5,3348,Bombay Sapphire Gin,1.75L,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,22.38,6,134.28,1,2025-05-27 18:54:37

In [170]:
#Ya hicimos toda la limpieza, guardamos
df2.to_csv('PurchaseFINAL12312016_Modificado.csv', index=False)